.wrapper
  = render '/side_bar'
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{data:{group_id: ""}}
          
        %ul.main-header__left-box__member-list 
          %li.main-header__left-box__member-list__member 
            -# TOTO訂正予定箇所
            -# - @messages.each do |message|
            -#   = message.user.name
      = link_to edit_group_path(current_user) do
        .main-header__edit-btn Edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
